 
<h1 class="title text-center"> Language by Salary</h1>
    <svg id="charts"></svg>
    
    <!-- Hidden tool tip. sssshhhh! -->
    <div id="tooltip_d3" class="hidden_tool">
        <p><strong><span id="title">Important Label Heading</span></strong></p>
        <p><span id="value">1</span></p>
    </div>
<script>
    var selectedLang = "<%= params[:lang] %>";
    var allLangs = [
    <% @eachdata.each do |lang| %>
            [<% lang[1].each do |item| %>
               <%= raw item.to_json %>,
           <% end %>],
     <% end %>];
             
    var allData = <%= raw @alldata.to_json %>;
    var color = d3.scale.category20();
    setup(<%= @max %>);
    //drawBar(getSelected(selectedLang));
    drawDonutChart(allData);
    drawBarChart(getSelected(selectedLang));
</script>


